<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.tailwindcss.com"></script>
<title><%= settings.crm_name %></title>
<style>
body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: #<%= settings.background_color %>;
}

.navbar {
 overflow: hidden;
 background-color: #333;
}

.navbar a {
 float: left;
 font-size: 16px;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.dropdown {
 float: left;
 overflow: hidden;
}

.dropdown .dropbtn {
 font-size: 16px; 
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
 background-color: red;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

.dropdown-content a:hover {
 background-color: #ddd;
}

.dropdown:hover .dropdown-content {
 display: block;
}

table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

td, th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

tr:nth-child(even) {
 background-color: #dddddd;
}
</style>
</head>
<body>
<div class="navbar">
 <a href="/">Home</a>
 <div class="dropdown">
   <button class="dropbtn">Contacts
     <i class="fa fa-caret-down"></i>
   </button>
   <div class="dropdown-content">
     <a href="/sync_contacts">Sync contacts</a>
     <a href="/display_contacts?limit=0">Display contacts</a>
     <a href="/create_contact">Create contact</a>
   </div>
 </div>
 <div class="dropdown">
   <button class="dropbtn">Events
     <i class="fa fa-caret-down"></i>
   </button>
   <div class="dropdown-content">
   <a href="/create_calendar">Create CRM Calendar</a>
     <a href="/display_events?limit=0">Display events</a>
     <a href="/create_event">Create event</a>
   </div>
 </div>  
</div>
<div style="height: 900px;" class="<%= settings.panel_color %> <%= settings.panel_border %> border-b p-4 m-4 rounded place-content-center max-h-full flex justify-center items-center">
<%= yield %>
</div>
</body>
</html>
