<div style="height: 900px;" class="<%= settings.panel_color %> <%= settings.panel_border %> border-b p-4 m-4 rounded place-content-center max-h-full">
<p class="text-6xl text-center">Hello <%= account %></p><br>
<p class="text-6xl text-center">Welcome to <%= settings.crm_name %></p>
<br><br><br>
<img class="mx-auto h-2/3 w-2/3" src="/<%= settings.background_image %>">
</div>
