<br>
<form method="post" action='/mail_merge_contacts' enctype="multipart/form-data">
<div class="border-double border-4 border-sky-500 w-auto h-auto items-center place-content-center flex justify-center">
<h1 class="text-3xl">Mail Merge Contacts</h1>
</div>
<div class="border-double border-4 border-sky-500 w-auto h-auto items-center place-content-center flex justify-center">
<br><br>
	<label for="participants"><b>Participants:</b></label>
		<select name="participants" id="participants" onchange="get_values()">
			<option value=""></option>
			<% i = 0 %>
			<% contacts.each do |contact| %>
				<% email = contact[10].scan(/(?<=email:).+/) %>
				<% participant = contact[0] + "/" + email[0].to_s + "/" + merge[i][2] + "/" + merge[i][3] + "/" + merge[i][4] + "/" + merge[i][5] + "/" + merge[i][6] %>
				<% i = i + 1 %>
				<option value="<%=participant%>"><%=email[0]%></option>
			<% end %>
		</select>
</div>
<div class="border-double border-4 border-sky-500 w-auto h-auto">
<input type="hidden" id="id" name="id" value="">
<input type="text" id="field1_name" style="font-weight:bold" name="field1_name" value="<% if fields != [] %><%= fields[0][0] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field1_desc" style="font-weight:bold" name="field1_desc" value="<% if fields != [] %><%= fields[0][1] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field1" name="field1" value=""><br><br>
<input type="text" id="field2_name" style="font-weight:bold" name="field2_name" value="<% if fields != [] %><%= fields[0][2] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field2_desc" style="font-weight:bold" name="field2_desc" value="<% if fields != [] %><%= fields[0][3] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field2" name="field2" value=""><br><br>
<input type="text" id="field3_name" style="font-weight:bold" name="field3_name" value="<% if fields != [] %><%= fields[0][4] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field3_desc" style="font-weight:bold" name="field3_desc" value="<% if fields != [] %><%= fields[0][5] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field3" name="field3" value=""><br><br>
<input type="text" id="field4_name" style="font-weight:bold" name="field4_name" value="<% if fields != [] %><%= fields[0][6] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field4_desc" style="font-weight:bold" name="field4_desc" value="<% if fields != [] %><%= fields[0][7] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field4" name="field4" value=""><br><br>
<input type="text" id="field5_name" style="font-weight:bold" name="field5_name" value="<% if fields != [] %><%= fields[0][8] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field5_desc" style="font-weight:bold" name="field5_desc" value="<% if fields != [] %><%= fields[0][9] %><% end %>" readonly>&nbsp;&nbsp;&nbsp;
<input type="text" id="field5" name="field5" value="">
</div>
<br>
 <div class="flex justify-center">
 <button type="submit" class="block bg-blue-500 hover:bg-blue-700 text-white text-lg mx-auto py-2 px-4 rounded-full">Submit</button>
 <button type="button" class="block bg-blue-500 hover:bg-blue-700 text-white text-lg mx-auto py-2 px-4 rounded-full" onclick="location.href='/mail_merge_contacts'">Cancel</button> 
 </div>
</form>

<script>
function get_values(){
	const myReValue1 = /(?<=:).+/g;
	const myReValue2 = /(?<=:).+/g;
	const myReValue3 = /(?<=:).+/g;
	const myReValue4 = /(?<=:).+/g;
	const myReValue5 = /(?<=:).+/g;
	var participant = document.getElementById("participants").value;
	var fields = participant.split("/");
	console.log(participant);
	
	var id_field = fields[0];
	var id = document.getElementById("id");
	id.value = id_field;
	
	var fields1 = fields[2];
	if(typeof fields1 !== "undefined"){
		var fields1_value = myReValue1.exec(fields1);
		var field1 = document.getElementById("field1");
		field1.value = fields1_value;
	}
	
	var fields2 = fields[3];
	if(typeof fields2 !== "undefined"){
		var fields2_value = myReValue2.exec(fields2);
		var field2 = document.getElementById("field2");
		field2.value = fields2_value;
	}
	
	var fields3 = fields[4];
	if(typeof fields3 !== "undefined"){
		var fields3_value = myReValue3.exec(fields3);
		var field3 = document.getElementById("field3");
		field3.value = fields3_value;
	}
	
	var fields4 = fields[5];
	if(typeof fields4 !== "undefined"){
		var fields4_value = myReValue4.exec(fields4);
		var field4 = document.getElementById("field4");
		field4.value = fields4_value;
	}
	
	var fields5 = fields[6];
	if(typeof fields5 !== "undefined"){
		var fields5_value = myReValue5.exec(fields5);
		var field5 = document.getElementById("field5");
		field5.value = fields5_value;
	}
}
</script>
